body {
    background-color: #6c7069;
    font-family: Montserrat;
}

.navbar {
    background-color: #566d27;
    padding: 20px;
    margin: -10px;
}

.navbar h1 {
    color: #efeee8;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: #efeee8;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}


.navbar ul, li{
    float: right;
}

.navbar ul, li, a {
    display: block;
    text-align: center;
    text-decoration: none;
}



.hero {
    position: relative;
    width: 100%;
}

.hero img {

    width: 101%;
    display: block;
    margin-left: -10px;
    margin-right: 0px;
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.822);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #efeee8;
    text-align: center;
    padding: 30px;
}


.text {
    color: #efeee8;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    background-color: #6c7069;
}

.centerh2 {
    color: #efeee8;
    font-size: 30px;
    margin: 20px;
    margin-bottom: -20px;
    padding: 20px;
    background-color: #949e32;
    text-align: center;
}

.services {
    background-color: #949e32;
    margin: 20px;
    justify-content: center;
    display: flex;
}

.service1 {
    background-color: #949e32;
    display: flex;
    margin: 20px;
    align-items: center;
    flex-direction: column;
}

.service2 {
    background-color: #949e32;
    display: flex;
    margin: 20px;
    align-items: center;
    flex-direction: column;
}
